body {
    background-color: grey;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }

  h1 {
    color: lightskyblue;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted blue;
  }

  h2 {
    font-size: 1.5em;
    font-style: italic;
    color: red;
  }

  p {
    color:bisque;
  }

  ul {
    background-color: #eeeeee;
    border: solid;
    border-color: blue;
    padding: 2em;
    border-width: 5px;
  }

  .job-title {
    color: yellow;
    font-weight: bold;
  }

  a:link,
  a:visited {
    color: #fb6542;
  }

  a:hover {
    color: green;
  }